.container {
    padding: 0 4rem;
  }

  .dynamicDate{
 
    padding: 1rem;
    cursor: pointer;
    transition: .3s ease all;
  }
  .dynamicDate:hover{
    
    /*background: linear-gradient(90deg, rgba(6,0,36,0) 0%, rgba(9,9,121,1) 41%, rgba(0,212,255,1) 100%);*/
    background: linear-gradient(90deg, rgba(6,0,36,0) 0%, rgba(9,54,121,1) 100%, rgba(0,212,255,1) 100%);
  }
  
  @media (max-width: 660px){
    .container{
      padding: 0;
    }
  }