.container {
  max-width: auto;
  padding: 0 1rem;
  margin: 3rem auto 2rem;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.backToHome {
  margin: 3rem 0 0;
}

.centerBoxTitle {
  justify-content: center;
  align-items: center;
  font-size: 80px;
}


.footer {
  display: flex;
  flex: 1;
  padding: 2rem 0;
  border-top: 1px solid #eaeaea;
  justify-content: center;
  align-items: center;
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.footer2 {
  margin-left: 0.5rem;
  text-align: center;
  padding: 0 ;
  margin: 0;  
}