.img{
   /* width: 100px;
    height: 80px;*/
    width: 50%;
    
  }

  .title {
     
      font-weight: 600;
      color: azure;
      font-size: 0.8rem;
      
      
  }


  .h5 {
      background-color: aqua;
  }

  .textInf{
      color: #5A5A5A;
      font-size: 0.8rem;
  }

  .checked{
      color:#9C9C9C;
      top: 0.5rem;
 
       
      
       
  }

  .cajaNegra{

      display: flex;
      background-color: rgb(7, 7, 7);
      align-items: flex-end; /*Alineado en este caso vertical*/
     height: 1.5rem;
    
     
  }

  .subtitulos{
      font-size: 0.8rem;
      font-weight: 600;
      word-spacing: 0.7rem;
      margin-left: 0.5rem;
  }

  .subtitulosInf{
      font-size: 1rem;
      font-weight: 800;
      background:#ECECEC;
      padding: 0.2rem;
      
  }

  .iconsimulation{
    background: '#093D27';
     border-radius: '30px';
    padding: '0.3rem'; 
    color: 'white';
    font-size:'12px';
    height:'15px';
  }

  /*

  */
  .subboxleft{
   /* background: red;*/
    display: flex;
 
    align-items: center;
    justify-content: flex-start;
  }

  .subboxright{
    /*background: rgb(21, 255, 0);*/
    display: flex;
    
    align-items: center;
    justify-content: flex-end;
  }

  /*middle*/
  /*score left and right*/
  /*sx={{ fontWeight: '800', marginRight: '20%' }} */
  .scoreleft{
    font-weight: 800;
    margin-right: 20%;
  }

  .scoreright{
    font-weight: 800;
    margin-left: 20%;
  }
  
  .box{
    margin: 0.1rem;
    padding: 0;
  }
  
  .tablatitle{
    background: rgb(187, 187, 187);
    font-size: 12px;
    padding-right: 0.4rem;
    font-weight: 800;     
  
  
}
.tablatitle1{
 
  font-size: 12px;
  padding-right: 0.4rem;
  font-weight: 800;  
 
}

/*some properties for card 2*/
.tabletitletwo{
  font-size: 14px;
  font-weight: 800;
}
.tablesubtitletwo{
  font-size: 14px;
  font-weight: 500;
}
/*display: 'flex', justifyContent: 'space-around', alignItems: 'center'*/
.tablatwo{
  display:flex;
  justify-content: space-around;
  align-items: center;
}
.cajaNegratwo{

  display: flex;
  background-color: rgb(7, 7, 7);
  align-items: flex-end; /*Alineado en este caso vertical*/
 height: 1.5rem;
 justify-content: space-between;
 
}

  @media (max-width: 570px){
    .subboxleft{
      display: flex;
      flex-direction: column;
    }
    .subboxright{
        display: flex;
        flex-direction: column-reverse;
    }
  }
   /*for mobile devices*/
   @media (max-width: 440px){
    .scoreleft{
      font-weight: 600;
      margin-right: 10%;
    }
  
    .scoreright{
      font-weight: 600;
      margin-left: 10%;
    }
   }
    /*for mobile devices-middle*/
    @media (max-width: 414px){
      .box{
        margin: 0;
        padding: 0;
      }
     }
       /*for mobile devices-middle*/
  @media (max-width: 394px){
      .tablatitle{
        font-size: 9px;
        padding-right: 0rem;
        font-weight: 600;     
      
      
    }
    .tablatitle1{
     
      font-size: 9px;
      padding-right: 0rem;
      font-weight: 600;  
     
    }
    .scoreleft{
      font-weight: 600;
      margin-right: 5%;
    }
  
    .scoreright{
      font-weight: 600;
      margin-left: 3%;
    }
    .containerleft{
      margin: 0;
      padding: 0;
    }
  }

/*mobile-card-two*/
  @media (max-width: 460px){
    .tablatwo{
      display:flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;
    }
    .subtablatwo{
      width: 100%;
    }
    .hour{
      font-size: 12px;
    }
    
  }
/*
     .tablatitle{
      background: rgb(187, 187, 187);
      font-size: 12px;
      padding-right: 0.4rem;
      font-weight: 800;     
    
    
  }
  .tablatitle1{
   
    font-size: 12px;
    padding-right: 0.4rem;
    font-weight: 800;  
   
  }*/

